.container {
  /* puts grids on same line */
  display: flex;
}

.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.grid div {
  width: 40px;
  height: 40px;
}

.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

.grid-display {
  width: 400px;
  height: 400px;
  background-color: yellow;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: orange;
  display: flex;
  margin: 10px;
}

.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: orange;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: pink;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  background-color: pink;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: purple;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  background-color: purple;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.carrier-container {
  width: 200px;
  height: 40px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;

  margin: 10px;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  background-color: aqua;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;

  margin: 10px;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  background-color: green;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color: orange;
}

.battleship {
  background-color: green;
}

.submarine {
  background-color: pink;
}

.cruiser {
  background-color: purple;
}

.carrier {
  background-color: aqua;
}
